/* Import fonts (optional) */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Trad:wght@100..400&display=swap');

/* Base styles */
body {
    font-family: "Oswald", sans-serif; /* Use imported font, fallback to sans-serif */
    max-height: 100vh; /* Set a maximum height (optional) */
    overflow-y: auto; /* Allow vertical scrolling by default (optional) */
}

/* Hide scrollbar (optional) */
.scrollbar-none::-webkit-scrollbar {
    display: none; /* Hide scrollbar for the specified element */
}

/* Logo styles */
.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;

    /* Add a subtle hover effect by default */
    filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 0.2)); /* Adjust shadow intensity as desired */
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa); /* Apply stronger shadow on hover */
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa); /* Specific hover effect for the React class */
}

/* Logo animation (optional) */
@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear; /* Animate logo on hover for the second link */
    }
}

/* Card styles */
.card {
    padding: 2em;
}

/* Text styles */
.read-the-docs {
    color: #888;
}

/* Table styles */
table {
    border-collapse: collapse; 
}

th, td {
    border: 1px solid #ddd;
    
}

